*
{
    background-color: rgb(228, 188, 234);
}
#page1
{
    font-family: 'Caveat', cursive;
}

.l1
{
    text-align: center;
}

#i1
{
    text-align: right;
    
}

#rt
{
    text-align: right;
    border-width: 20px;
    border-color: aqua;
}

#lt
{
    text-align: left;
    border-width: 20px;
    border-color: aqua;

}
