.color-title
{
    font-weight: normal;
}

#red
{
    color: rgb(213, 201, 184);
}
#blue
{
    color: rgb(97, 36, 140);
}
#orange
{
    color: orange;
}
#green
{
    color: green;
}
#yellow
{
    color: rgb(22, 1, 8);
}


*{
    text-align: center;
    background-color: hotpink ;
    font-family: 'Caveat', cursive;


}